## CORE ##
#numpy  # available already from qgis repo
#pyqt5  # available already from qgis repo


# NOTE - for the time being - keep the same packages and versions in the `packages_installer_dialog.py`
numpy<2.0.0
onnxruntime-gpu>=1.12.1,<=1.17.0
opencv-python-headless>=4.5.5.64,<=4.9.0.80
