## CORE ##
#numpy  # available already from qgis repo
#pyqt5  # available already from qgis repo

# NOTE - keep the same packages and versions in the `packages_installer_dialog.py`
# onnxruntime >= 1.23.0 required for opset 21/22/23 support
numpy>=1.24.0
onnxruntime-gpu>=1.23.0
opencv-python-headless>=4.10.0
